.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    padding: 13px;
    margin: 5px;
    background-color: var(--DarkGrey);
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: var(--Green);
    color: var(--Grey);
}

