.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    /* ERA flex Cambiado a  grid */
    gap: 20px;
    /* Espacio entre las tarjetas */
    justify-content: center;
}

.Imagen {
    display: flex;
    padding: 10px;
    width: 50%;
    margin: auto;
    border-radius: 50%;
}

.Names {
    height: 30px;
    font-size: 14px;
    font-family: "inter", sans-serif;
    color: var(--White);
}

.Lugar {
    height: 40px;
    font-size: 11px;
    font-family: "inter", sans-serif;
    color: var(--Green);
}

.Xd {
    height: 30px;
    font-size: 11px;
    font-family: "inter", sans-serif;
    color: var(--White);
}