.card {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

.Imagen {
  width: 12000px; /* Tamaño de la imagen */
  height: 150px; /* Altura igual al ancho para hacerla cuadrada */
  object-fit: cover; /* Para que la imagen cubra el contenedor */
  margin-bottom: 10px; /* Espacio entre la imagen y el estado */
}

.Espe {
  text-align: center; /* Alineación centrada */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 10px; /* Espacio entre el estado y el tipo */
}

.Typ {
  text-align: center; /* Alineación centrada */
  color: #666; /* Color del texto más tenue */
}